<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
  <mat-tab label="Produtos">
    <div fxLayout="row-wrap" fxLayoutAlign="start center"  style="padding: 2%;">
      <ng-container *ngFor="let product of productsAll" style="margin: 0.5%;">

        <mat-card class="mat-card-product" fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% -11px)"
        fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-name-product">
            <div class="row">
              <p>
                <span>{{product.productName}}</span>
              </p>
            </div>
          </mat-card-title>
          <mat-card-content>
            <p>
              <span>{{product.productDescription}}</span>
            </p>
            <span>R${{product.productPrice}}</span>
            <mat-card-actions class="mat-raised-button">
              <button mat-raised-button  routerLink="api/product/{{product.id}}">Editar</button>
              <button mat-raised-button (click)="deleteProduct(product.id)">Excluir</button>
            </mat-card-actions>
          </mat-card-content>

        </mat-card>

      </ng-container>

    </div>
  </mat-tab>
</mat-tab-group>
